html, body {
  margin: 0;
  padding: 0;
  background: #fafafa;
  height: 100%;
}

/* TODO: SC - Move the following style rules to the edge-bundles component css */

.node {
  font: 300 .8em "Helvetica Neue", Helvetica, Arial, sans-serif;
  fill: #aaa;
  cursor: pointer;
}

.node:hover {
  fill: #3EAE5C;
}

.link {
  stroke: steelblue;
  stroke-opacity: 0.5;
  fill: none;
  pointer-events: none;
}

.node:hover,
.node--source,
.node--target {
  font-weight: 500;
}

.node--source {
  fill: steelblue;
}

.node--implicit.node--source {
  fill: #ff5858;
}

.link--source,
.link--target {
  stroke-width: 2px;
}

.link--implicit {
  stroke: #ff5858;
}

svg {
  font: 10px sans-serif;
}

.treemap {
  padding: 1em;
}
