<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <!-- SQL dialect -->
        <property name="dialect">org.hibernate.dialect.PostgreSQL9Dialect</property>

        <!-- Names the annotated entity classes -->
        <mapping class="com.transparency.entity.FeatureEntity"/>
        <mapping class="com.transparency.entity.PackageEntity"/>
        <mapping class="com.transparency.entity.LogicalFunctionEntity"/>
        <mapping class="com.transparency.entity.LogicalSignalEntity"/>
        <mapping class="com.transparency.entity.FunctionSignalLinkEntity"/>
    </session-factory>

</hibernate-configuration>