<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <mapping class="com.transparency.settings.entity.AppSetting"/>
        <mapping class="com.transparency.features.entity.Feature"/>
        <mapping class="com.transparency.packages.entity.Package"/>
        <mapping class="com.transparency.logical.entitiy.LogicalFunctionEntity"/>
        <mapping class="com.transparency.logical.entitiy.LogicalSignalEntity"/>
        <mapping class="com.transparency.logical.entitiy.FunctionSignalLink"/>
    </session-factory>
</hibernate-configuration>