<mat-card class="dashboard-card">
  <mat-card-title>
    <h1>Implicit Dependencies</h1>
  </mat-card-title>

  <mat-form-field class="feature-form">
    <mat-select placeholder="Source Feature" [(value)]="source">
      <mat-option *ngFor="let feature of logicallyDepending" [value]="feature">
        {{ feature.name }}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field *ngIf="source" class="feature-form">
    <mat-select placeholder="Target Feature" [(value)]="target">
      <mat-option *ngFor="let feature of source.dependencies" [value]="feature">
        {{ feature.name }}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <mat-card-content>
    <p *ngIf="!source">
      Select a source feature with logical dependencies.
    </p>
    <p *ngIf="source && !target">
      Select a target feature for analysing the logical dependency.
    </p>
  </mat-card-content>

  <mat-card-actions>
    <button mat-button routerLink="/analyse" color="primary" [disabled]="!source || !target">ANALYSE</button>
  </mat-card-actions>
</mat-card>
